<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <!-- Tab bar -->
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        Principal
      </ion-tab-button>

      <ion-tab-button tab="cadastre">
        <ion-icon name="person"></ion-icon>
        Cadastro
      </ion-tab-button>
      
      <ion-tab-button tab="attendance">
        <ion-icon name="refresh"></ion-icon>
        Atendimento
      </ion-tab-button>
      
      <ion-tab-button tab="help">
        <ion-icon name="help"></ion-icon>
        Ajuda
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-app>
