<ion-header >
  <ion-toolbar  color='primary'>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='primary'>
  <ion-card routerLink="/cadastre/search">
    <ion-card-content>
      <div class="title">Pesquisa CPF</div>
      <div class="subtitle">Loem impsum</div>
    </ion-card-content>
  </ion-card>
  
  <ion-card routerLink="/cadastre/dashboard">
    <ion-card-content>
      <div class="title">Meu cadastro</div>
      <div class="subtitle">Lorem ipsum</div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="title">Entrega de documentação</div>
      <div class="subtitle">Lorem ipsum</div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="title">Requerimentos</div>
      <div class="subtitle">Lorem ipsum</div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="title">Entidades</div>
      <div class="subtitle">Lorem ipsum</div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="title">Assistência técnica</div>
      <div class="subtitle">Lorem ipsum</div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="title">Portal CODHAB</div>
      <div class="subtitle">Lorem ipsum</div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="title">Informações</div>
      <div class="subtitle">Lorem ipsum</div>
    </ion-card-content>
  </ion-card>
</ion-content>