<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='primary'>
  <ion-card routerLink="/cadastre/search">
    <ion-card-content>
      <div class="title">Pesquisa CPF</div>
      <div class="subtitle">Loem impsum</div>
    </ion-card-content>
  </ion-card>

  <ion-card routerLink="/cadastre/dashboard">
    <ion-card-content>
      <div class="title">Meu cadastro</div>
      <div class="subtitle">Lorem ipsum</div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="title">Listas por situação</div>
      <div class="subtitle">Lorem ipsum</div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="title">Documentação necessária</div>
      <div class="subtitle">Lorem ipsum</div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="title">Entidades</div>
      <div class="subtitle">Lorem ipsum</div>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-content>
      <div class="title">Ajuda</div>
      <div class="subtitle">Lorem ipsum</div>
    </ion-card-content>
  </ion-card>
</ion-content>