<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Acesso cadastral</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='primary'>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="signInForm">
      
        <ion-item>
          <ion-label position="floating">Informe seu CPF</ion-label>
          <ion-input formControlName="cpf" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Informe sua senha</ion-label>
          <ion-input formControlName="password" type="text"></ion-input>
        </ion-item>
        <ion-button expand="block">Acessar meu cadastro</ion-button>
        <ion-button expand="block">Esqueci minha senha</ion-button>
        <ion-button expand="block">Primeiro acesso</ion-button>
      </form>

    </ion-card-content>
  </ion-card>
</ion-content>